body{
  font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #798f8f00;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(82, 82, 112);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 0px solid orange;  /* creates padding around scroll thumb */
}
