.mainContainer {
    display: flex;
    justify-content: center;
}

.mainBox {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 20%;
}


.title {
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}

.input {
    width: 100%;
    border: 1px solid #c5c5c5;
    border-radius: 12px;
    padding: 10px;
    outline: none;
}

.inputBox {
    width: 80%;
    margin: 15px 0px;
}

.buttonBox {
    margin-top: 20px;
}

.button {
    font-size: 16px;
    border: 0px solid #ffffff00;
    background-color: #557B83;
    padding: 15px;
    border-radius: 12px;
    color: #ffffff;
}

.button:hover {
    background: linear-gradient(15deg, #557B83,  #39AEA9) ;
}
