.panel {
  background-color: rgb(121, 143, 143);
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: fixed;
  bottom: 0;
}

.panelImages {
  font-size: 10px;
  border-radius: 10px;
  background-color: #ffffffa1;
}

.panelImages img {
  border-radius: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.panelImages img:focus {
  border: 3px solid #2058a1ee;
}

.title {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.btnBox {
  display: flex;
  flex-direction: column;
  background-color: chartreuse;
  padding: 5px;
}

.btn {
  padding: 7px;
  border-radius: 7px;
  border: 0px solid #ffffff00;
  margin-top: 20px;
  cursor: pointer;
}

