.videoPerson {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.videoBox {
  display: flex;
  width: 95%;
  margin-bottom: 8px;
}

.videoBox video {
  border-radius: 12px;
}
