.mainBox {
    justify-content: space-between;
    background-color: rgb(62, 62, 109);
    display: flex;
    height: 168px;
}

.masterPanel {
  width: 100%;
  background-color: rgb(62, 62, 109);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes example {
  0%   {bottom:0px;}
  100% {bottom:-170px;}
}

.masterPanel1 {
  width: 100%;
  display: flex;
  background-color: rgb(62, 62, 109);
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  animation-name: example1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes example1 {
  0%   {bottom:-170px;}
  100% {bottom:-0px;}
}

.attrToggleBtn {
  width: 10%;
}

.diceBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.box input {
    font-weight: 600;
    background-color: rgba(211, 211, 211, 0.808);
    width: 40px;
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 4px;
}

.box img {
    height: 60px;
}

.box {
    width: 70%;
    justify-content: space-around;
    display: flex;
}

.resultBox {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 30%;
}
