.mainBox {
  background-color: #8E806A !important;
  /* background-image: linear-gradient(90deg, #091a19c0 0%, #17274da7 100%) !important; */
  box-shadow: none !important;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.button {
    margin-top: 0px;
    color: #ffffff;
    background-color: #ffffff00;
}
